.todo__container{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(150, 150, 247);
}

.heading__container{
text-align: center;
color: white;
font-family: cursive;
font-size: larger;
margin-top: 20px;
}